PORT=3001
RESET_PASSWORD_REDIRECT_URL=http://localhost:5500/auth.html
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=official-email@example.com
SMTP_PASS=your-email-app-password
MAIL_FROM_NAME=Sarhad International Publisher
MAIL_FROM_ADDRESS=official-email@example.com
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
FIREBASE_SERVICE_ACCOUNT_JSON=
